Model/experiments/outputs/docking_from_lmdb/temp_mols/lig_00000.sdf
Model/experiments/outputs/docking_from_lmdb/temp_mols/lig_00001.sdf
Model/experiments/outputs/docking_from_lmdb/temp_mols/lig_00002.sdf
Model/experiments/outputs/docking_from_lmdb/temp_mols/rec_00000.pdb
Model/experiments/outputs/docking_from_lmdb/temp_mols/rec_00000.pdbqt
Model/experiments/outputs/docking_from_lmdb/temp_mols/rec_00001.pdb
Model/experiments/outputs/docking_from_lmdb/temp_mols/rec_00001.pdbqt
Model/experiments/outputs/docking_from_lmdb/temp_mols/rec_00002.pdb
Model/experiments/outputs/docking_from_lmdb/temp_mols/rec_00002.pdbqt
Model/src/data/crossdocked_v1.1_rmsd1.0_processed/crossdocked_v1.1_rmsd1.0_processed_full_ref_prior_aromatic.lmdb
Model/src/data/split_by_name.pt
Model/src/data/crossdocked_v1.1_rmsd1.0_processed/crossdocked_v1.1_rmsd1.0_processed_full_ref_prior_aromatic_name2id.pt
/baseline/DecompDiff
Model/experiments/outputs/main/evaluation_conditional/bond/bond_details.csv
Model/experiments/outputs/main/evaluation_conditional/bond/bond_summary.json
Model/experiments/outputs/main/evaluation_conditional/chemical/chemical_evaluation_detailed.json
Model/experiments/outputs/main/evaluation_conditional/chemical/chemical_evaluation_plots.png
Model/experiments/outputs/main/evaluation_conditional/chemical/chemical_evaluation_summary.csv
Model/experiments/outputs/main/evaluation_conditional/molecular_properties/generated_molecular_properties.csv
Model/experiments/outputs/main/evaluation_conditional/similarity/similarity_evaluation_plots.png
Model/experiments/outputs/main/evaluation_conditional/similarity/similarity_evaluation_summary.csv
Model/experiments/outputs/main/samples_conditional/lig_00000.sdf
Model/experiments/outputs/main/samples_conditional/lig_00001.sdf
Model/experiments/outputs/main/samples_conditional/lig_00002.sdf
Model/experiments/outputs/main/train_logs.csv
Model/experiments/outputs/main/train_loss_plot.png
Model/experiments/outputs/main/visualization/vis_grid.png
Model/experiments/reference/reference_00000.sdf
Model/experiments/reference/reference_coords_only_00000.sdf
Model/experiments/reference/reference_vis_00000.png
Model/experiments/reference/reference_with_bonds_00000.sdf
Model/experiments/outputs/main/evaluation_conditional/bond/bond_details.csv
Model/experiments/outputs/main/evaluation_conditional/bond/bond_summary.json
Model/experiments/outputs/main/evaluation_conditional/chemical/chemical_evaluation_detailed.json
Model/experiments/outputs/main/evaluation_conditional/chemical/chemical_evaluation_plots.png
Model/experiments/outputs/main/evaluation_conditional/chemical/chemical_evaluation_summary.csv
Model/experiments/outputs/main/evaluation_conditional/molecular_properties/generated_molecular_properties.csv
Model/experiments/outputs/main/evaluation_conditional/similarity/similarity_evaluation_plots.png
Model/experiments/outputs/main/evaluation_conditional/similarity/similarity_evaluation_summary.csv
Model/experiments/outputs/main/samples_conditional/lig_00000.sdf
Model/experiments/outputs/main/samples_conditional/lig_00001.sdf
Model/experiments/outputs/main/samples_conditional/lig_00002.sdf
Model/experiments/outputs/main/train_logs.csv
Model/experiments/outputs/main/train_loss_plot.png
Model/experiments/outputs/main/visualization/vis_grid.png
Model/experiments/reference/reference_00000.sdf
Model/experiments/reference/reference_coords_only_00000.sdf
Model/experiments/reference/reference_vis_00000.png
Model/experiments/reference/reference_with_bonds_00000.sdf
*.csv
Model/experiments/outputs/main/evaluation_conditional/bond/bond_details.csv
Model/experiments/outputs/main/evaluation_conditional/bond/bond_summary.json
Model/experiments/outputs/main/evaluation_conditional/chemical/chemical_evaluation_detailed.json
Model/experiments/outputs/main/evaluation_conditional/chemical/chemical_evaluation_plots.png
Model/experiments/outputs/main/evaluation_conditional/chemical/chemical_evaluation_summary.csv
Model/experiments/outputs/main/evaluation_conditional/molecular_properties/generated_molecular_properties.csv
Model/experiments/outputs/main/evaluation_conditional/similarity/similarity_evaluation_plots.png
Model/experiments/outputs/main/evaluation_conditional/similarity/similarity_evaluation_summary.csv
Model/experiments/outputs/main/samples_conditional/lig_00000.sdf
Model/experiments/outputs/main/samples_conditional/lig_00001.sdf
Model/experiments/outputs/main/samples_conditional/lig_00002.sdf
Model/experiments/outputs/main/train_logs.csv
Model/experiments/outputs/main/train_loss_plot.png
Model/experiments/outputs/main/visualization/vis_grid.png
Model/experiments/reference/reference_00000.sdf
Model/experiments/reference/reference_coords_only_00000.sdf
Model/experiments/reference/reference_vis_00000.png
Model/experiments/reference/reference_with_bonds_00000.sdf
Model/experiments/reference/reference_vis_00000.png
